ul{
  list-style: none;
}

.Header {
  color: #2a2aaf;
  border: 1px solid #02022f24;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.Header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 1.5%;
}

.icons {
  padding: 1%;
  width: fit-content;
  height: fit-content;
  margin: 1%;
  font-size: 25px;
  transition: background-color 0.1s ease-in-out;
  border-radius: 50%;
  overflow: visible;
}

.icons:hover {
  background-color: rgba(232, 228, 223, 0.4);
  cursor: pointer;
}

.welcome_text {
  position: absolute;
  top: 5;
  right: 0;
  margin-right: 5.5%;
  font-weight: 500;
}


#sidebar_container{
  border: 1px solid black;
}

.sidebar {
  z-index: 2;
  height: 100vh;
  width: 250px;
  border: 1px solid #0000008a;
  background-color: rgb(214, 214, 218);
  position: absolute;
  top: 0;
  left: -300px;
  transition: left 0.4s ease-in;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#sidebarHeader{
  color: #0000EE;
  align-items: center;
  display: flex;
  margin: 9%;
}

.sidebar.open{
  z-index: 2;
  left: 0;
}

.sidebar .icons {
  margin: 1%;
  position: relative;
  left: -10%;
}

.sidebar ul {
  list-style: none;
  padding: 1%;
}

.sidebar li{
  margin-top: 30%;
}

.sidebar a{
  color: #0000EE;
  text-decoration: none;
  font-size: large;
}

.sidebar a:hover{
  color: rgb(92, 113, 192);
  cursor: pointer;
}

.page_content{
  margin: 5%;
  margin-left: 10%;
  
  visibility: hidden;
  transition: margin-left 0.4s ease-in-out;
}

.page_content.shift{
  margin-left: 15%;
  visibility: visible;
  transition: visibility 0.1 ease-in-out;
}

.as_logo{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1.5%;
  margin-left: 5%;
}

.course_container {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  border-radius: 5px;
  border: 0.55px solid rgb(0, 0, 0, 0.45);
  width: 45%;
  margin-left: 27%;
}
  

.course_container_header{
  margin:2%;
  font-size: large;
  font-weight: 600;
}

.course_container_content {
  display: flex;
  flex: 1;
  margin-left: 5%;
  margin-top: 5%;
}

.course_container_content input {
  margin-right: 4.5%;
  padding: 1.2%;
  border-radius: 5px;
  border-width: 0;
  border-bottom-width: 2px;
  border-right-width: 2px;
  width: 55%;
}

#course_submit{
  padding: 1%;
  width: 100px;
  margin-top: 2.5%;
  margin-left: 62.5%;
}

.sidebar-links{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  margin-left: 27%;
  color: #0000EE;
  font-size: large;
}

.sidebar-links:hover{
  color: rgb(92, 113, 192);
  cursor: pointer;
}

.qr_courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
}

.qr_courses label {
  font-weight: 550;
  margin-bottom: 10px;
}

.qr_courses select {
  border: 1px solid rgb(143, 143, 143);
  padding: 1%;
  padding-right: 2%;
  margin-bottom: 16px;
  background-color: rgb(223, 223, 238);
  font-size: large;
  color: #00007f;
  border-radius: 11px;
  outline: none;
  appearance: none;
  background: url('../Pictures/drop-down-arrow.png') no-repeat right center; /* Add a custom arrow icon */
  background-size: 16px;
  background-position-x: 98%;
}

.qr_courses select:hover{
  background-color: rgb(165, 165, 165);
  cursor: pointer;
}

.qrCode{
   margin-left: 37.9%;
   margin-bottom: 2%;
   width: 25%;
   height: 25%;
}

.qrButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 48%;
  transition: margin 0.5s;
}

.qrButton.before {
  margin-top: 2%;
}

.qrButton.after {
  margin-top: 8%;
  background-color: red;
  margin-left: 49.5%;
}

.qrReader{
  z-index: 1;
  display: block;
  border-radius: 5px;
  border: 0.55px solid rgb(0, 0, 0, 0.45);
  width: 45%;
  margin-top: 3%;
  margin-left: 40%;
}

.records_container{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  margin-top: 2%;
  margin-left: 12.7%;
  border: none;
  font-weight:600;
  font-size: x-large;
  padding: 5%;
}

.attendanceTable {
  border: 1px solid #02022f24;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden; /* Ensures the border-radius is applied properly */
}

.attendanceTable th, .attendanceTable td {
  border: 1px solid #02022f24;
  padding: 8px;
  text-align: left;
}

.attendanceTable tbody tr:nth-child(odd) {
  background-color: #ddd5d5; /* Background color for odd rows */
}

.attendanceTable tbody tr:nth-child(even) {
  background-color: #d3d3d3; /* Background color for even rows */
}

@media (max-width: 720px) {
  .welcome_text{
   font-size: 3vw;
   margin-right: 8.5%;
  }

  .page_name{
    margin-left: -6%;
    font-size: 5vw;
  }
  
  .as_logo{
   margin-top: 7.5px;
   margin-left: 9%;
  }

  .records_container{
    margin-left: 18%;
  }

  .sidebar{
    width: 47vw;
  }

  .qrReader{
    margin-top: 10%;
    margin-left: 11.5%;
  }

  .qrButton{
   margin-left: 41vw;
  }

  .qrButton.before {
    margin-top: 22%;
  }
  
  .qrButton.after {
    margin-top: 22%;
    background-color: red;
    margin-right: 2%;
  }
  .course_container{
    margin-top: 2.5%;
  }

  .course_container_header{
    font-size: 3vw;
    margin: 3%;
  }

  .course_container_content{
    display: block;
    font-size: 2vw;
    padding: 1%;
  }

  .course_container_content input{
    width: 95%;
    margin: 3%;
    margin-left: -1%;
   }

  #course_submit{
    width: 70px;
  }

  .codeTitle{
    font-size: 4.5vw;
  }

  .qrCode{
    width: 55%;
    height: 55%;
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left: 23.5%;
  }
}