  
  .container{
    position: absolute;
    top: 0;
    left: 0;
    margin: 2.8rem 15.7rem;
    display: flex;
    width: 70%;
    border-radius:20px;
    box-shadow: 10px 4px 18px rgba(136, 132, 132, 0.1);
  }
  
  #background_logo{
    border: 2px solid rgb(53, 29, 147);
    width: 48%;
    max-height: 80%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  #background_logo img{
    height: auto;
  }
  
  .header{
    font-size:45px;
    margin: 5%;
    margin-top: -10%;
    margin-bottom: 8%;
    margin-left: 20%;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .form{
    float:inline-end;
    width: 41%;
   text-align: left;
    padding: 3%;
    margin: 3.5%;
    margin-left: 4%;
  }
  
  .form label{
    display:block;
     margin-bottom: 8px;
     font-weight:350;
  }
  
  .form input{
    width: 100%;
    padding: 1.5%;
    border-radius: 11px;
    box-shadow: 1px 2px 2px rgba(10, 10, 10);
  }
  .form input,.form label{
    margin: 2.5%;
  }
  
  .submit{
    width: 39%;
    padding: 3.4%;
    background-color: rgb(19, 58, 232);
    border-radius: 16px;
    color: aliceblue;
    font-weight: 550;
    margin: 4.5%;
    margin-bottom: -20%;
    margin-left: 30%;
  }
  
  .submit:hover{
    background-color: rgb(56, 84, 188);
    cursor: pointer;
  }

  .errors{
    color: rgb(186, 38, 38);
    font-weight: bolder;
  }

  #signIn_link{
    margin: 5%;
    text-align: center;
  }

  .submitting_confirmation{
    color: rgb(186, 38, 38);
    text-align: center;
    font-weight: 600;
  }
  .submitting_confirmed{
      color: rgb(45, 209, 8);
      font-weight: 600;
      text-align: center;
  }

  .links:hover{
     color: red;
  }

.form_validated{
  position:absolute;
  bottom:0;
  right:0;
  margin:7.7%;
  margin-right: 13.7%;
  margin-bottom: 21.2%;
  font-size: 27px;
}

  @media (max-width: 1440px) {
    .container {
      flex-direction:row;
      position: relative;
      top: 0;
      left: 0;
      margin: 30vh auto;
      max-width: 90%; 
    }
  
    #background_logo {
      width: 60%;
      max-height: 50vh; 
      border-radius: 20px 20px 0 0;
    }
  
    .header {
      font-size: 2.5vw; 
    }
  
    .form {
      width: 100%;
      margin-left: 0;
    }
  }
  
  @media (max-width: 720px) {
    .container {
      flex-direction:row;
      position: relative;
      top: 0;
      left: 0;
      margin: 23vh 2vh;
      width: 95%;
      height: auto; 
    }

    #background_logo {
      width: 50%;
      max-height: 53vh; 
      border-radius: 20px 20px 0 0;
    }
  
    .header {
      font-size: 5vw; 
      margin: 1.5%;
    }
     #background_logo{
      width: 49%;
      max-height: 80%;
      border-top-right-radius:0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
     }

    .form {
      font-size: 3vw;
      width: 60%;
      margin-left: 0;
      margin-bottom: 1%;
    }
    .form input{
      border-radius: 8px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    }

    .submit{
      font-size: 3vw;
      margin-top: 1%;
      margin-bottom: 1%;
      border-radius: 10px;
    }
  }